header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.body{
    height: 2500px;
    overflow: hidden !important;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(
        217deg,
        #0269f0cc,
        #0066ff54 80.71%,#0269f0cc
    ); */
    background: linear-gradient(to top,#0000ff,#0000ffc9,#0000ff5e);
    opacity: 0.9;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url("http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg")
            black no-repeat center center scroll;
    }
    header video {
        display: block;
    }
}

.modd-1{
    
    top: 50%;
    transform: perspective(1px) translateY(20%);
    padding: 3px;    
    text-align:center;
    color: azure;

}

#animate {
    transition: all 1s ease;
}

.row1 {
    max-width: 30em !important;
    padding: 10px;   
    background: linear-gradient(to right, #ff5e00,#ff5e00dc,#ff5e009f);  
    max-height: 250px;
    min-height: 250px;
}
.row2 {
    max-width: 30em !important;
    padding: 10px;   
    background: linear-gradient(to right,#005180,#005180d0,#0051808a);
    max-height: 250px;
    min-height: 250px;
}
.row3 {
    max-width: 30em !important;
    padding: 10px;    
    background: linear-gradient(to right,#800080,#800080cb,#80008083);  
    max-height: 250px;
    min-height: 250px;
}
.row4 {
    max-width: 30em !important;
    padding: 10px;
    background: linear-gradient(to right,#1580e4,#1580e4ce,#1580e498); 
    max-height: 250px;
    min-height: 250px;
}
#animate:hover {
    opacity: 0.5;    
}

.fro-face:hover{
  display: block;
  opacity: 0.8;
    top: 1.2em;
    left: 1.2em;
}

#animate:hover + .fro-face {
    display: block;
    opacity: 0.8;
    top: 1.2em;
    left: 1.2em;
  
}

.row2#animate:hover {
    background: #00060f73;
}

.fro-face {
    position: absolute;
    top: -1em;
    left: 0;
    padding: 2em;
    color: #f8f6f6;
    background: #080808e7;
    opacity: 0;
    border-radius: none;
    transition: all 0.5s ease-in-out;
    font-size:1em;
    z-index: 2;
}
.content-body{
    background-image: url('../img/divider-bg.jpg');
    background-position: center ;
    max-height: 600px;
    width: 100vw;
   
   
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-body-0{
    height: 200px;
    width: 100vw;
  
        }
.content-body-1{

height: 400px;
width: 100vw;
background-color: #0051809c;


}

.child-card{
    width: 100% !important;
  
    margin-bottom: 0 !important;

 
}

.cardz{
    background-color: #77adc200 !important;
    box-shadow:  0 1rem 3rem  #4162cc31 !important;
}

.content-body-2{
    height: 400px;
    width: 100vw;
    background-color: #0080269d;
  
    }

.item{
    height: 500px;
}



